@import 'fireworks';

body
{
	background-color: #170F25;
	color: #ffffff;
}

.bg-gradient-primary
{
	background-image: linear-gradient(45deg, #7939FF, #B064FE);
}

a.bg-gradient-primary:hover,
button.bg-gradient-primary:hover
{
	background-image: linear-gradient(45deg, #B064FE, #7939FF);
}

.bouncing
{
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-2.1rem);
	}

	100% {
		transform: translatey(0px);
	}
}
